<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Day07_inflater" />
        <activity android:name=".Day09_service" />
        /////////////////////////////////////////////////
        <service android:name=".Day09_MySMSService" />

        <receiver android:name=".Day09_MySMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        ///////////////////////////////////////////////////
        <service android:name=".Day09_MyPhoneService" />

        <receiver android:name=".Day09_MyPhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        ///////////////////////////////////////////////////////
        <activity android:name=".Day09_MyDialog" />
        <activity android:name=".Day10_Fragment" />
        <activity
            android:name=".Day11_MyEvent_Listener"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Day11_event" />
        <activity android:name=".Day12_WebView" />
        <activity android:name=".Day13_PageSliding" />
        <activity android:name=".Day13_ViewPager" />
        <activity android:name=".Day14_ProgressBar" />
        <activity
            android:name=".Day14_Tabbed"
            android:label="@string/title_activity_day14__tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Day16_ListView" />
        <activity android:name=".Day17_Spinner" />
        <activity android:name=".Day17_MyList" />
        <activity android:name=".Day17_Grid"></activity>
        <activity android:name=".Day18_Wiget">
        </activity>
        <activity android:name=".Day19_View">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>